# 视频解析基本配置
# 将此文件复制为 .env

# SiliconFlow ASR API 地址
siliconflow_api_url=https://api.siliconflow.cn/v1/audio/transcriptions

# SiliconFlow API Key
###
 此模型完全免费
 获取方式： https://cloud.siliconflow.cn/i/tbvUltCF
###
api_key=获取到的key

# 视频转录模型 (默认: FunAudioLLM/SenseVoiceSmall)
model=FunAudioLLM/SenseVoiceSmall

# 视频解析 API 地址
###
 解析服务：https://github.com/yangbuyiya/parse-video-py2
 推荐自己搭建一个非常的简单，或者将这个项目复制到skill工程当中我是放在云上避免skill太庞大
###
parse_api_url=解析服务api
